#grid-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
img {
    display: block;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
 }