h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
fieldset {
    margin: 10px;
    width: 250px;
    border: 1px solid gray;
}
.example {
    margin-top: 10px;
}
@media (max-width: 320px) {
    .topics {
        flex-direction: column;
    }
}
@media (min-width:321px) and (max-width: 1024px) {
    .topics {
        flex-direction: row;
        flex-wrap: wrap;
    }
    fieldset {
        width: 40%;
        box-sizing: border-box;
    }
}