body {
    margin: 0px;
    padding: 0px;
    font: 400 16px Monospace;
    background-image: url("https://image.freepik.com/free-vector/binary-code-white-background-with-floating-numbers_1017-25331.jpg");
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 510px;
    height: 500px;
    padding: 30px;
    margin-left: -290px;
    margin-top: -285px;
    background-color: #e3f2ff;
    border: 5px solid #b3dafc;
    border-radius: 20px;
}

form > div {
    margin: 0 5px;
}

.equation-border {
    height: 50px;
    padding: 4px;  
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
}

.equation-border:hover {
    
    border-top: 1px solid grey;
}


span {
    color: grey;
    font-size: 14px;
    margin-left: 3px;
}

input[type='text'] {
    border: none;
    text-align: right;
    font-size: 20px;
    width: calc(100% - 10px);
    outline: none;     
}



/* BUTTONS */
button, input[type='reset'] {
    background: #C0C0C0;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 70px;
    height: 40px;
    margin: 7px 2px;
    transition: linear 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

input[type='reset']:hover {
    background-color: rgb(255, 107, 107);
    transition: linear 0.3s;
}

#converter-button {
    width: 155px;
}

input[type='submit'] {
    background: #1E90FF;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 70px;
    height: 40px;
    margin: 7px 2px;
    transition: linear 0.3s;
}
input[type='submit']:hover {
    background: #1b78d6;
    transition: linear 0.3s;
}

button:hover {
    background: #1E90FF;
    transition: linear 0.3s;
}

.numbers {
    background: #dad3d3;
}

.numbers:hover {
    background: #c0bbbb;
}

sup {
    font-size: 12px;
}


/* CONVERTER */

#Converter {
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 10px;
    height: 50px;
    border: 2px solid #b4daff;
}

#Converter div {
    line-height: 50px;
    text-align: center;
    height: 100%;
    width: 50%;
    float: left;
}

select {
    margin: 0 auto;
    width: 180px;
    border-radius: 99px;
    padding: 3px;
    border: 1px solid rgb(196, 195, 195);
}

.numbers[enabled='false'] {
    background-color: rgb(102, 102, 102);
    color: darkgrey;
}