body {
    position: relative;
    background: no-repeat center fixed url("assets/images/background2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper {
    position: absolute;
    display: grid;
    width: 1440px;
    height: 1024px;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 25% 50% 25%;
    top:0;
    left:50%;
    transform: translateX(-50%);
    background: no-repeat url("assets/images/1.png");
    background-size: 98%;

}

.enemyCards {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.battleField {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    /*background-image: url("assets/images/backgroundfield.jpeg");
    background-size:cover;
    position: relative;
    z-index: 1; */
}

.battleFieldImage img {
   /*  width: 1008px;
    height: 512px; */
    height: 100%;
}

.myCards {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end:4;
    padding-top: 2%;
}

.enemyHero img, .myHero img {
    height: 95%;
    width: 95%;
}

.enemyCards ul, .myCards ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding-left: 0;
}

.enemyCards li, .myCards li{
    list-style: none;
    display: inline-block;
    width: calc(100% / 20);
    height: 100%;
}

.enemyCards img, .myCards img {
    width: 150px;
    height: 200px;
}

.enemyCards ul {
    justify-content: flex-end;
}

.myCards ul {
    justify-content: flex-start;
    position: relative;
    bottom:0;
}

.myCards ul li:hover {
    z-index: 1;
} 

.myCards ul li:hover img {
    transition: .3s;
    width: 175px;
    height: 237.5px;
}
.myCards ul li:hover span {
    transition: .3s;
    margin-left: 147px;
    margin-top: -40px;
    font-size: 28px;
}


.containerClock {
    max-width: 40%;
    max-height: 50%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-color: rgb(84, 60, 36);
    border-style: groove;
    border-radius: 12px;
    background: rgb(84, 60, 36);
}

.containerClock label {
    font-size: 32px;
    color: ivory;
    z-index: 1; 
    position:relative;
    top:25%;left:0;right:0;bottom:0;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: "Bank Gothic", "Futura", "Arial";
}

.arrow {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

#arrow {
    width: 150px;
    padding-left: 90px;
    filter: brightness(1.8);
    transform: rotate(90deg);
    transition: transform ease-in-out 0.5s;
}

.myHero, .enemyHero, .cardContainer {
    display: flex !important;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    color: white;
}

.username {
    margin-top: -75px;
    color: black;
}
.health {
    margin-top: 8px;
    margin-left: 150px;
    text-shadow: 0 0 5px black;
}
.mana {
    margin-top: -205px;
    margin-left: -150px;
    text-shadow: 0 0 5px black;
}
.cardHealth {
    text-shadow: 0 0 5px black;
    margin-left: 126px;
    margin-top: -35px
}