body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header {
    display: flex;
    background-color: rgb(134, 51, 51);
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
}
header a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}
#logo img {
    width: 60px;
    margin-top: 7px;
}
#head-menu {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
#head-menu input[type=search] {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    text-align: center;
}
#head-menu input[type=search]::placeholder {
    color: rgba(255, 255, 255, 0.9);
}
#phone {
    margin-right: 10px;
}
footer {
    margin-top: 20px;
}
footer a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}
#foot-menu {
    display: flex;
    background-color: rgb(134, 51, 51);
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9);
}
#foot-menu * {
    margin-top: 7px;
}
#breadcrumbs {
    background-color: lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}
#breadcrumbs span:first-child {
    color: rgb(134, 51, 51);
}
#breadcrumbs a {
    color: black;
    text-decoration: none;
}
main {
    padding-left: 20px;
}
.input-container {
    margin-right: 20px;
}
.input-container input[type=checkbox] {
    position: absolute;
    top: -20px;
}
.input-container span {
    background-color: black;
    color: white;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    border-radius: 99px;
    user-select: none;
    appearance: none;
}
.input-container input[type=checkbox]:checked + span {
    background-color: black;
    color: white;
    border: none;
}
.input-container input[type=checkbox]:checked + span:after {
    content: " \2713";
}

#filters {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: -15px;
}
#filters fieldset {
    border: none;
}

.checkbox-container {
    margin-top: 10px;
    margin-right: 20px;
    user-select: none;
}
.filter-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0;
    vertical-align: top;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.filter-checkbox::after {
    content: "";
    display: inline-block;
    position: absolute;
    color: white;
    left: 4px;
    top: 1px;
}
.filter-checkbox:checked {
    background-color: black;
}
.filter-checkbox:checked::after {
    content: "\2713";
}

.slider-container {
    margin-top: 10px;
}
#slider-captions {
    width: 176px;
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
    margin-top: 10px;
    padding-left: 2px;
}
.slider {
    width: 180px;
    height: 2px;
    border-radius: 5px;
    background: rgb(134, 51, 51);
    outline: none;
    -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(134, 51, 51);
    cursor: pointer;
}
#main-block {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: absolute;
    top: 220px;
    left: 300px; */
}
.card {
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
}
.card div {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* margin-top: 2.5%; */
}
.card div a, span, input {
    margin-bottom: 6px;
}
.card div a {
    color: black;
    text-decoration: none;
}
.price {
    font-weight: bold;
}
span.available {
    color: rgb(0, 87, 0);
}
.not-available {
    color: rgb(153, 0, 0);
}
.card img {
    height: 120px;
    width: 120px;
    border-radius: 25px;
}
.card input {
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: darkgray;
    border: none;
    border-radius: 5px;
}
.card input.available {
    background-color: rgb(153, 0, 0);
}

#main-block-card {
    display: flex;
}
#main-block-card img {
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
#main-block-card > div > div {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#main-block-card div a, span, input {
    margin-bottom: 8px;
}
#main-block-card div a {
    color: black;
    text-decoration: none;
}
#main-block-card div input {
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(153, 0, 0);
    border: none;
    border-radius: 5px;
}
#description {
    margin-top: 30px;
}
#description-text {
    display: flex;
}
#description-values {
    margin-left: 100px;
}
#comment {
    display: flex;
    flex-direction: row !important;
    width: max-content !important;
    margin-top: 30px;
    background-color: lightgrey;
    border: 2px solid rgb(153, 0, 0);
    border-radius: 5px;
    padding: 15px;
}
#comment img {
    width: 37px;
    height: 37px;
    padding: 3px;
    background-color: lightskyblue;
}
#comment div {
    margin-left: 40px;
}
#comment div span:first-child {
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        display: none;
    }
    #filters {
        flex-direction: row;
        width: 100%;
    }
    #filters fieldset:first-child {
        margin-right: 15%;
    }
    #main-block {
        flex-direction: column;
    }
    #main-content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
    .card div {
        width: 200px;
        margin-left: 100px;
        margin-top: 10px;
    }
    #main-block-card {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}